body {
    background-color: orange;
}

.head {
    width:100%;
    height:30px;
    background-color:black;
}

h1 {
    color: #FF00FC;
    font-size: 75px;
    font-family: broadway;
}

img:nth-child(1) {
    height: 335px;
    width: 300px;
}

P {
    color: black;
    font-size: 35px;
    font-family: Comic Sans MS;
}

ul {
    color: black;
    font-size: 35px;
    font-family: Comic Sans MS;
}

img:nth-child(2) {
    height: 635px;
    width: 1000px;
}
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .rcorners {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px; 
  }
  img {
    border-radius: 75px;
  }
  section {
    border: 1px solid blue;
    width: 100%;
    float: left;
  }
  
  .left {
    float: left;
    background: pink;
  }
  
  .right {
    float: right;
    background: cyan;
  }
  